@charset "UTF-8";

/* Demais medias queries */

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;

    --cor1: #5F2C82;
    --cor2: #499F9D;
}

@media screen and (min-width: 667px){
    body {
        background: linear-gradient(to bottom, var(--cor1), var(--cor2));
    }

    main.container {
        display: flex;
    }
}
